<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clx.doudiz.domain.mapper.BattleMapper">
    <insert id="insertBattle" parameterType="com.clx.doudiz.domain.Battle">
        INSERT INTO battle
        (battle_id, player_list, player_hand_cards, player_show_cards, count_down, current_player, extra_cards,
         identity, battle_status)
        VALUES (#{battleId}, #{playerList}, #{playerHandCards}, #{playerShowCards}, #{countDown}, #{currentPlayer},
                #{extraCards}, #{identity}, #{battleStatus});
    </insert>
    <update id="updateBattle" parameterType="com.clx.doudiz.domain.Battle">
        UPDATE battle
        <set>
            player_hand_cards = #{playerHandCards},
            player_show_cards = #{playerShowCards},
            count_down = #{countDown},
            current_player = #{currentPlayer},
            extra_cards = #{extraCards},
            identity = #{identity},
            battle_status = #{battleStatus}
        </set>
        WHERE battle_id = #{battleId}
    </update>


</mapper>