<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clx.doudiz.domain.mapper.PlayerMapper">
    <insert id="insertPlayer" useGeneratedKeys="true" keyProperty="playerId"
            parameterType="com.clx.doudiz.domain.Player">
        INSERT INTO player (player_name) VALUES (#{playerName});
    </insert>


</mapper>